
#over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pannello{
  height:auto;
  width: 100%;
}
img#logo{
  width: 24mm;
  height: 20mm;
  margin-top: -2mm;
  margin-left: 20mm;
}
.parte_superiore{
  border-bottom: 2px solid rgba(0,0,0,0.06);
  width: 90%;
  margin-left: 10px;

}
.wrapper {
  border-bottom: 2px solid rgba(0,0,0,0.06);
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;

}

.parte_inferiore{
  overflow: auto;
  width: 100%;
  max-height:135px;
}

.gauge{
  margin-left: 34px;
  margin-bottom: 10px;
}
.list-group{
  flex-direction: column;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 10px;
}

.list-group li:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: .25rem;
}

.list-group li {
  position: relative;
  display: block;
  padding: .75rem 0.725rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  font-size:13px;
  max-width:250px;
}
.list-group li:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.fa-circle:before {
  content: "\f111";
}
.mr-2, .mx-2 {
  margin-right: .5rem!important;
}
.text-in{
  color:yellow!important;
}
.text-info {
  color: #f00d0d!important;
}
.fa, .fas {
  font-size: 8px;
}
.row.pt-5.pb-5{
  display: inline-flex;
  margin-left: -8px;
}
.counter {
  margin-right: 30px;
  margin-left: 20px;
  margin: 1em;
  display: inline-flex;
  cursor:pointer;
  width:100px;
  height:100px;
  max-width:100%;
  position:relative;
  justify-content:center;
  align-items:center;
  font-size: calc(1em + 1vmin);
  transition: height .2s ease-in-out;
  background: #fff;
  border-radius:50%;
  box-shadow:0px 1px 10px 2px rgba(0,0,0,0.2);
}
.percentage {
  font-size: large;
  position:absolute;
  text-align:center;
  top:50%;
  left:0;
  right:0;
  vertical-align:middle;
  transform:translate3d(0,-50%,0);
}
canvas {
  position:absolute;
  top:0;
  left:0;
}
input {
    width: 200px;
}